{cam_log_path,"/var/log/cam/"}.
{cam_file_prifix,"_cam_admin_act.log"}.
{cam_log_rpc,2}.
{cam_http_root,"http://{{ ansible_facts['default_ipv4']['address'] }}:8002/cam_admin/"}.
{cam_root_path,"/usr/local/var/yaws/www/cam_admin/"}.
